body { 
    background-color: grey;
}

#header {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 81, 162);
    border-radius: 5px;
}
#header img {
    width: auto;
}
button {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: grey;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    
}
button:hover{
    background-color: grey;
    border: whitesmoke solid 1px;
    color: whitesmoke;
}
.submit {
    position: relative;
    background-color: white;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: grey;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
}
.submit:hover{
    background-color: black;
    border: white;
    color: white;
}

.input-text{
    border-radius: 5px;
    height: 2rem;
    width: 30%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
}

#banner {
    color: whitesmoke;
    font-size: 15px;
    font-family: monospace;
    position: static;
    background-color: rgb(46, 81, 162);
    border-radius: 5px;
    width: fit-content;
    margin: 3px;
    text-align: center;
    display: flex;
}
.card {
    background-color: white;
    border: grey 1px;
    padding: 1rem;
    width: 15rem;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 5px 8px rgb(46, 81, 162);
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    border-radius: 8px;
    
}

.anime-display {
    justify-self: center;
    height: 12rem;
    width: auto;
}

.title{
    color: oldlace;
    background-color: rgb(46, 81, 162);
    margin: 1rem 2rem;
    border-radius: 5px;
}

#watch-later {
    background-color: cornflowerblue;
}

.comment-card {
    background-color: white;
    text-align: center;
    box-shadow: rgb(46, 81, 162);
    width: fit-content;
    position: static;
    font-family: monospace;
    font-size: x-large;
}